.additional-info {
  position: relative;
  padding-top: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 29px;
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 0;
  }
}

.additional-info__container {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.additional-info__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 94px;
    left: 0;
    z-index: 20;
    width: 47.5%;
    padding-top: 66px;
    padding-bottom: 60px;
    padding-right: 98px;
    padding-left: 76px;
    background-color: #ffffff;
  }
}

.additional-info__invite {
  @include text-reset;
  width: 44%;

  @media (min-width: $tablet-width) {
    width: 22%;
    margin-left: 42px;
    padding-top: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 40%;
    margin: 0;
  }
}

.additional-info__invite-dealers {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.additional-info__address {
  @include text-reset;
  width: 50%;
  font-family: "Arial", "Verdana", sans-serif;
  line-height: 20px;
  font-weight: 400;

  br {
     display: none;
   }
  @media (min-width: $tablet-width) {
    width: 32%;
    padding-right: 42px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    width: 38.5%;
    padding: 0;
    text-align: left;
  }
}

.additional-info__city {
  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 19px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
  }
}

.additional-info__map {
  position: relative;
  height: 362px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 430px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

#map {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 400px;
    top: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
  }
}

.additional-info__map-img {
  position: absolute;
  top: -37px;
  right: 50%;
  display: block;
  width: 100%;
  transform: translateX(50%);

  @media (min-width: $tablet-width) {
    top: -2px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    right: auto;
    left: 0;
    height: 400px;
    transform: none;
  }
}
