.btn {
  display: block;
  padding: 10px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $main-color;
  border: none;
  transition: all 0.2s;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    padding: 16px 20px;
    font-size: 20px;
    line-height: 20px;
  }
}
