.btn {
  display: block;
  padding: 10px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $main-color;

  @media (min-width: $tablet-width) {
    padding: 16px 20px;
    font-size: 20px;
    line-height: 20px;
  }
}
