.features {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    padding-bottom: 102px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
    padding-bottom: 63px;
    border-bottom: none;
  }
}

.features__title {
  @include text-reset;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }
}

.features__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.features__item {
  min-height: 54px;
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 135px;
    counter-increment: section;

    &:nth-child(2n) {
      width: 45.8%;
    }

    &--third,
    &--fourth {
      margin-bottom: 0;
    }

    &::before {
      content: counter(section);
      position: absolute;
      top: -41px;
      left: 113px;
      font-size: 281px;
      line-height: 281px;
      font-weight: 400;
      color: #f2f2f2;
    }

    &--first::before {
      left: 118px;
    }

    &--second::before {
      top: -41px;
      left: 111px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 20.2%;
    margin-bottom: 0;

    &:nth-child(2n) {
      width: 20.2%;
    }
  }
}

.features__desc {
  @include text-reset;
  position: relative;
  padding-left: 80px;
  font-family: "Arial", "Verdana", sans-serif;

  br {
    display: none;
  }

  &--icon::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $main-color;
  }

  &--icon::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
  }

  &--icon-leaf::after {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--icon-powder::after {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--icon-dining::after {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--icon-clock::after {
    background-image: url("../img/advantage-clock@1x.png");
  }

  @media (min-width: $tablet-width) {
    width: 58%;
    padding-top: 110px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;

    br {
      display: block;
    }

    &--powder-width {
      width: 69%;
    }

    &--clock-width {
      width: 76%;
    }

    &--icon::before {
      width: 80px;
      height: 80px;
    }

    &--icon::after {
      top: 13px;
      left: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}
