.product {
  position: relative;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    width: 45.8%;
    background-color: #f2f2f2;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 20.1%;
  }
}

.product__wrap {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: auto;
    max-width: none;
    margin: 0;
  }
}

.product__content-wrap {
  width: 50%;
  padding-top: 21px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 40px 38px;
    padding-top: 38px;
    padding-bottom: 34px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 38px;
    padding-right: 40px;
  }
}

.product__pic-wrap {
  order: -1;
  width: 50%;
  height: 144px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 100%;
    height: 125px;
    margin: 0 auto;
  }
}

.product__pic {
  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: -47px;
    right: 50%;
    transform: translateX(50%);

    &--big {
      top: -82px;
    }
  }

  @media (min-width: $desktop-width) {
    top: -45px;

    &--big {
      top: -82px;
    }
  }
}

.product__title {
  @include text-reset;
  width: 55%;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 21px;
    font-size: 20px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }
}

.product__weight {
  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product__characteristic {
  @include text-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.product__characteristic-row {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 7px 0;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product__property,
.product__value {
  @include text-reset;
  font-family: "Arial", "Verdana", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.product__btn {
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    width: 77%;
    padding: 10px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 69%;
  }
}
