.promo {
  position: relative;
  color: #ffffff;
  background-color: $main-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100%;

  @media (min-width: $tablet-width) {
    color: #111111;
    background-color: #ffffff;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      position: absolute;
      top: -128px;
      right: 0;
      width: 55.4%;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 70px -3px;
      }
  }
}

.promo__wrap {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 94%;
    max-width: 1220px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.promo__content {
  position: relative;
  padding: 26px 0;
  width: 87.5%;
  min-height: 305px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    padding: 43px 0;
    padding-left: 94px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin: 0;
    padding: 93px 0;
    padding-left: 80px;
  }
}

.promo__title {
  @include text-reset
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 67%;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 79%;
  }
}

.promo__lead {
  @include text-reset;
  margin-bottom: 25px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.promo__btn-to-programm {
  position: absolute;
  bottom: -174px;
  left: 0;
  z-index: 10;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: static;
    bottom: auto;
    width: 38.5%;
    margin-left: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 46%;
    margin-left: 0;
  }
}

.promo__img {
  position: relative;
  z-index: 5;
  min-height: 198px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    min-height: 484px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    min-height: 645px;
    background-color: transparent;
  }
}

.promo__image {
  position: absolute;
  top: -139px;
  right: 50%;
  transform: translateX(50%);

  @media (min-width: $tablet-width) {
    top: -124px;
  }

  @media (min-width: $desktop-width) {
    top: 12px;
    right: 217px;
    transform: none;
  }
}
