.slider {
  @media (min-width: $tablet-width) {
    padding-bottom: 60px;
    background-image: linear-gradient(90deg, #f2f2f2 50%, #eaeaea 50%, #eaeaea 100%);
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-bottom: 0;
    background-image: none;
  }
}

.slider__images {
  position: relative;
  min-height: 240px;
  margin-bottom: 33px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    width: 320px;
    height: 240px;
    transform: translateX(50%);
    background-image: url("../img/before-mobile@1x.png");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    min-height: 338px;
    width: 708px;
    margin: 0 auto;
    margin-bottom: 20px;
    &::before {
      top: -169px;
      right: auto;
      left: -328px;
      width: 690px;
      height: 517px;
      background-image: url("../img/before-tablet@1x.png");
      clip: rect(auto, 338px, auto, auto);
    }

    &::after {
      content: "";
      position: absolute;
      top: -169px;
      right: 1px;
      width: 690px;
      height: 517px;
      background-image: url("../img/after-tablet@1x.png");
      background-repeat: no-repeat;
      clip: rect(auto, auto, auto, 338px);
    }
  }

  @media (min-width: $desktop-width) {
    width: 610px;
    min-height: 488px;

    &::before {
      width: 373px;
      top: -38px;
      right: auto;
      left: -226px;
      clip: rect(auto, 366px, auto, auto);
    }

    &::after {
      width: 545px;
      top: -38px;
      right: 105px;
      clip: rect(auto, auto, auto, 363px);
    }
  }
}

.slider__controls {
  display: flex;
  justify-content: center;
  width: 72%;
  margin: 0 auto;
  padding-left: 3px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    align-items: flex-start;
    width: 74%;
    margin: 0 auto;
    padding-left: 0;

    &:hover .slider__text,
    &:focus .slider__text {
      border-bottom: 1px solid #989898;
    }

    &:active .slider__text {
      border-color: transparent;
    }
  }

  @media (min-width: $desktop-width) {
    width: 93.5%;
    margin: 0;
    margin-left: 39px;
  }
}

.slider__text {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 9px;
    padding-bottom: 5px;
    font-size: 20px;
    border-bottom: 1px dashed #bebebe;
  }

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 7px;
  }
}

.slider__controls-range {
  width: 61%;
  padding-left: 19px;
  padding-right: 16px;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 81%;
  }
}

.slider__control {
  -webkit-appearance: none;
  width: 100%;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: transparent;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}

.slider__control::-webkit-slider-runnable-track {
  width: 100%;
  padding: 3px 5px;
  background-color: #ffffff;
  border: 2px solid #cdcdcd;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    height: 6px;
    padding: 0;
    background-color: #dcdcdc;
    border: none;
  }
}

.slider__control::-moz-range-track {
  width: 100%;
  padding: 6px 5px;
  background-color: #ffffff;
  border: 2px solid #cdcdcd;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    height: 6px;
    padding: 0;
    background-color: #dcdcdc;
    border: none;
  }
}

.slider__control::-ms-track {
  padding: 3px 5px;
  color: transparent;
  background-color: #ffffff;
  border: 2px solid #cdcdcd;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: #dcdcdc;
    border: none;
  }
}

.slider__control::-ms-fill-lower {
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}

.slider__control::-webkit-slider-thumb {
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 35px;
  height: 6px;
  border-radius: 5px;
  background-color: $main-color;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -13px;
    width: 32px;
    height: 32px;
    background-color: $main-color;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
    inset 0 0 0 12px #ffffff;

    &:hover {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
      inset 0 0 0 12px #ffffff, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:focus,
    &:active {
      outline: none;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
      inset 0 0 0 10px #ffffff, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
      border: 2px solid $main-color;
    }
  }
}

.slider__control::-moz-range-thumb {
  box-sizing: border-box;
  width: 35px;
  height: 6px;
  border-radius: 5px;
  background-color: $main-color;

  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
    inset 0 0 0 12px #ffffff, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  }

  &:focus,
  &:active {
    outline: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
    inset 0 0 0 10px #ffffff, 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    border: 2px solid $main-color;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: -13px;
    width: 34px;
    height: 34px;
    background-color: $main-color;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
    inset 0 0 0 12px #ffffff;
  }
}

.slider__control::-ms-thumb {
  box-sizing: border-box;
  width: 35px;
  height: 6px;
  padding: 0;
  border-radius: 5px;
  background-color: $main-color;



  @media (min-width: $tablet-width) {
    position: relative;
    top: -13px;
    width: 30px;
    height: 29px;
    background-color: $main-color;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15),
    inset 0 0 0 10px #ffffff;
  }
}
